{% extends 'layout.html.twig' %}

{% block title %}
    {% if mode == 'deleteCancel' %}
        Confirm deletion
    {% else %}
        Message
    {% endif %}
{% endblock %}

{% block content %}

    <div class="page-header">
    {% if mode == 'deleteCancel' %}
        <h1>Confirmation</h1>
    {% else %}
        <h1>Message</h1>
    {% endif %}
    </div>
    
    <div class="row">
        <div class="span12">{{ message }}</div>
    </div>

    {% if mode == 'deleteCancel' %}
        <form action="{{ deletePath }}" method="POST">
    {% else %}
        <form action="{{ path }}" method="POST">
    {% endif %}
    <form action="{{ deletePath }}" method="POST">
        <div id="form">
            <div class="form-actions">
                {% if mode == 'deleteCancel' %}
                    <button class="btn btn-danger" type="submit"><i class="icon-trash"></i> Delete</button>
                    &nbsp;
                    &nbsp;
                    <a href="{{ cancelPath }}" class="btn">Cancel</a>
                {% else %}

                {% endif %}
            </div>
        </div>
    </form>
{% endblock %}
